* {
  padding: 0;
  margin: 0;
  font-family: Pretendard;
  word-break: break-all;
}
header {
  background-color: #fff4cd;
  height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#total_email {
  padding-left: 6.94vw;
}
.autentic_number_text {
  color: #525252;
  font-size: 24px;
  font-weight: 500;
  margin-top: 9.19vh;
}
.autentic_number {
  color: #333;
  font-size: 64px;
  font-weight: 500;
  line-height: normal;
  margin-top: 11.63vh;
  margin-bottom: 11.7vh;
}
.warning_msg {
  color: #525252;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.ignore_msg {
  color: #525252;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 3.46vh;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff4cd;
  height: 15vh;
  padding-top: 5.37vh;
  padding-left: 6.94vw;
}
