{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": true,
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "bracketSameLine": false
}
